conda {
    enabled = true
    // Optionnel : spécifiez un répertoire de cache pour les environnements créés par Nextflow
    // cacheDir = '/chemin/vers/votre/cache_conda'
}


process {
        withName: bowtie2 {
                beforeScript = 'module load bioinfo/bowtie/2.5.4'
        }
        withName: bwaMem {
                beforeScript = 'module load bioinfo/bwa/0.7.19 ; module load bioinfo/samtools/1.21'
        }

        withName: deeptoolsBamCoverage {
                beforeScript = 'module load bioinfo/deepTools/3.5.2'
        }
        withName: deeptoolsComputeMatrix {
                conda= 'recipes/conda/deeptools.yml'
        }
        withName: deeptoolsCorrelationQC {
                conda= 'recipes/conda/deeptools.yml'
        }
        withName: deeptoolsFingerprint {
		conda= 'recipes/conda/deeptools.yml'
        }
        withName: deeptoolsMultiBamSummary  {
                conda= 'recipes/conda/deeptools.yml'
        }
        withName: epic2 {
                beforeScript = 'module load bioinfo/epic2/0.0.52'
		conda = 'recipes/conda/epic2.yml'
        }
        withName: fastqc {
                beforeScript = 'module load bioinfo/FastQC/0.12.1'
        }
        withName: featureCounts {
                conda = 'recipes/conda/featurecounts.yml'
        }
        withName: annotatePeaks {
                beforeScript = 'module load bioinfo/HOMER/4.11'
        }
        withName: macs2 {
                beforeScript = 'module load bioinfo/MACS/2.2.9.1'
        }
        withName: collectInsertSizeMetrics  {
                conda = 'recipes/conda/picard.yml'
        }
        withName: markDuplicates  {
                conda = 'recipes/conda/picard.yml'
        }
        withName: preseq {
                beforeScript = 'module load bioinfo/preseq/3.2.0'
        }
        withName: samtoolsFilter {
                beforeScript = 'module load bioinfo/samtools/1.21'
        }
        withName: samtoolsFlagstat {
                beforeScript = 'module load bioinfo/samtools/1.21'
        }
        withName: samtoolsIdxstats {
                beforeScript = 'module load bioinfo/samtools/1.21'
        }
        withName: samtoolsIndex {
                beforeScript = 'module load bioinfo/samtools/1.21'
        }
        withName: samtoolsMerge {
                beforeScript = 'module load bioinfo/samtools/1.21'
        }
        withName: samtoolsSort {
                beforeScript = 'module load bioinfo/samtools/1.21'
        }
        withName: samtoolsStats {
                beforeScript = 'module load bioinfo/samtools/1.21'
        }
        withName: starAlign {
                beforeScript = 'module load bioinfo/STAR/2.7.11b'
        }
        withName: trimGalore {
                beforeScript = 'module load bioinfo/TrimGalore/0.6.10 ; module load bioinfo/Cutadapt/5.0'
        }
        withName: outputDocumentation {
                conda = 'recipes/conda/python.yml'
        }
        withName: IDR {
                beforeScript = 'module load bioinfo/IDR/2.0.4.2'
        }
        withName: getDepthNormFactor {
                beforeScript = 'module load bioinfo/samtools/1.21'
	}
        withName: frip {
                conda = 'recipes/conda/epic2.yml'
	}
        withName: peakQC {
                conda = 'recipes/conda/r.yml'
	}
        withName: compareBams {
                conda = 'recipes/conda/compbam.yml'
        }
        withName: multiqc {
                conda = 'recipes/conda/multiqc.yml'
        }
        withName: '.*getSpikeScalingFactor' {
                conda = 'recipes/conda/r.yml'
        }
        withName: '.*SAMTOOLS_IDXSTATS_.*' {
                beforeScript = 'module load bioinfo/samtools/1.21'
        }
        withName: '.*APPLY_CALIBRATION.*' {
                conda = 'recipes/conda/deeptools.yml'
        }
        withName: '.*PPQT.*' {
                conda = 'recipes/conda/ppqt.yml'
        }





        executor = 'slurm'


}

timeline {
    overwrite = true
}
report {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}
